name: Deploy to Amazon using SAM

on:
    push:
        branches:
            - main

env:
    AWS_REGION: us-east-1

permissions:
    id-token: write # required to use OIDC authentication
    contents: read # required to checkout the code from the repo

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: actions/setup-python@v2
                with:
                    python-version: "3.8"
            -   uses: aws-actions/setup-sam@v1
            -   uses: aws-actions/configure-aws-credentials@v1
                with:
                    role-to-assume: ${{ secrets.AWS_ROLE }}
                    role-duration-seconds: 900
                    aws-region: ${{ env.AWS_REGION }}
            -   run: sam build --use-container -e AWS_REGION=${{ env.AWS_REGION }}
            -   run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset
